<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Directory</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{#users}}
          <div class="person">
            <img src="{{avatar}}" alt="image">
            <h4>{{name}}</h4>
            <p>
              {{#address.city}} {{address.city}}, {{address.country}} | {{/address.city}} {{#job}} {{job}}, {{company}} {{/job}}  {{^job}} <span>Available for hire</span> {{/job}}
            </p>
            <p>
              {{email}} | {{phone}}
            </p>
            <dl>
              {{#university}}
              <dt>Education</dt>
              <dd>{{university}}</dd>
              {{/university}}
              <dt>Skills</dt>
              <dd>{{#skills}} {{.}} {{/skills}}</dd>
            </dl>
          </div>
          <!-- <div class="card" style="width: 40rem;">
            <img class="card-img-left" src="{{avatar}}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{name}}</h4>

              <p class="card-text">
                {{address.city}}, {{address.country}} | {{job}}, {{company}}
                {{email}} | {{phone}}
              </p>
              <p class="card-text">
                Education: {{university}}
                Skills: {{#skills}} {{.}} {{/skills}}
              </p>
            </div>
          </div> -->
        {{/users}}

      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>

<!-- Latest compiled and minified JavaScript -->
